{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./test/tsconfig.json",
      "./example/tsconfig.json"
    ]
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "tsdoc/syntax": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "ignorePatterns": "dist"
}
